<?php
/**
 * Amit Software.
 *
 * @category   Amit
 * @package    %module_name%
 * @author     Amit
 */

namespace %namespace%\Plugin;

/**
 * Plugin class.
 */
class %plugin_name%
{
    public function __construct(
        
    ) {
        
    }
}
