<?php
/**
 * Amit Software.
 *
 * @category   Amit
 * @package    %module_name%
 * @author     Amit
 */

namespace %namespace%\Logger;

/**
 * Logger class.
 */
class Logger extends \Monolog\Logger
{
    
}