<?php
/**
 * Amit Software.
 *
 * @category   Amit
 * @package    %module_name%
 * @author     Amit
 */

namespace %namespace%\Cron;

/**
 * Cron class.
 */
class %cron_name%
{
    public function __construct(
        
    ) {
        
    }

    public function execute() {

    }
}
